@import url('https://fonts.googleapis.com/css?family=VT323');

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Roboto&display=swap');
/*
Google fonts
font-family: 'VT323', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/



:root {
    --text-color: rgb(0, 0, 0);
    /* Variable for text color */
    --background-color: rgb(255, 255, 255);
    /* Variable for background color */
    --accent-color: hsl(200, 100%, 50%);
    /* Accent color */
}

.light {
    --background-color: rgb(255, 255, 255);
    --background-t5: rgba(255, 255, 255, 0.5);
    --background-t7: rgba(255, 255, 255, 0.8);
    --text-color: rgb(0, 0, 0);
}

.dark {
    --background-color: rgb(0, 0, 0);
    --background-t5: rgba(0, 0, 0, 0.5);
    --background-t7: rgba(0, 0, 0, 0.8);
    --text-color: rgb(255, 255, 255);
}

/* Base */
body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    background-position: center;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: var(--background-image, url('../img/backgrounds/2.jpg'));*/
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


/* Mothers splash screen */
.mother_heading,
.mother_heading_dark {
    position: relative;
    margin-top: 15vw;
    min-height: 10vw;
    height: fit-content;
    font-size: 10vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    margin-bottom: 7vw;
    color: var(--text-color);
    text-align: center;
    box-sizing: border-box;
    text-shadow: 0em 0em 0.1rem var(--background-color), 0em 0em 0.2rem var(--background-color), 0em 0em 0.5rem var(--background-color);
}

.Mothers_message,
.Mothers_message_dark {
    position: relative;
    /*margin-top: 15vw;*/
    height: auto;
    padding-bottom: 20vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 7vw;
    width: 100%;
    margin-bottom: 7vw;
    color: var(--text-color);
    text-align: center;
    box-sizing: border-box;
    white-space: pre-line;
    text-shadow: 0em 0em 0.1rem var(--background-color), 0em 0em 0.2rem var(--background-color), 0em 0em 0.5rem var(--background-color);
}

.Mothers_message_dark,
.mother_heading_dark {
    color: var(--background-color);
}

.create_your_own {
    position: fixed;
    bottom: 2vw;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    height: 3rem;
    font-size: 1.8rem;
    background-color: var(--background-color);
    border-color: var(--text-color);
    color: var(--text-color);
    border-radius: 1rem;
    transform: translateY(0)!important;
}

/* Settup screen */
#mother_put {
    position: relative;
    height: 2.2em;
    /*width: 90%;*/
    width: 100%;
    font-size: 1.4rem;
    /*margin-left: 5%;*/
    box-sizing: border-box;
    text-align: center;
    appearance: none;
    border: none;
    /*border-bottom: 0.2rem solid red;*/
    /*border-bottom: 0.2rem solid red;*/
    color: var(--text-color);
    background-color: var(--background-color);
    /*border-radius: ;*/
}

#message_put {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 1.1rem;
    min-height: 100vw;
    box-sizing: border-box;
    text-align: center;
    appearance: none;
    border: none;
    background-color: var(--background-t7);
    color: var(--text-color);
}

#settup_screen label {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    display: block;
    margin-top: 5vw;
    margin-bottom: 1vw;
    color: var(--background-color);
    text-shadow: 0em 0em 0.1rem var(--text-color), 0em 0em 0.2rem var(--text-color);
}

.background_chooser {
    position: relative;
    width: 100%;
    min-height: 50vw;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    background-color: var(--background-t5);
    margin-bottom: 5vw;
}

.backgroudn_dot,
.backgroudn_dot_active {
    position: relative;
    width: 45vw;
    height: 45vw;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0vw 0vw 0vw 0vw var(--text-color);
    overflow: hidden;
}

.backgroudn_dot_active {
    box-shadow: 0vw 0vw 5vw 1vw var(--text-color);
}

.backgroudn_dot img,
.backgroudn_dot_active img {
    position: relative;
    height: 100%;
    width: auto;
    appearance: none;
    border: none;
}

#mother_data_submit {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 3rem;
    font-size: 1.7rem;
    background-color: var(--background-color);
    border-color: var(--text-color);
    color: var(--text-color);
    border-radius: 1rem;
    transform: translateY(0)!important;
}



@keyframes stretch {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

.notification {
    position: fixed;
    bottom: 0.2rem;
    right: 0.5rem;
    height: 9rem;
    width: 20rem;
    /*320px at default zoom*/
    transform: translateX(22rem);
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
    box-shadow: 0 0 0.2rem 0 var(--text-color);
    cursor: pointer;
    transition: transform 500ms, box-shadow 200ms, opacity 200ms, height 300ms, width 300ms;
    -webkit-user-select: none;
}

/*.notification:hover {
    box-shadow: 0 0 1rem 0 #00ccff;
    height: 18rem;
    width: 40rem;
}
*/
.notification .title {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1.9rem;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    line-height: 120%;
    cursor: inherit;
}

.notification .title::before {
    position: absolute;
    transform: translate(0, 0);
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--text-color);
    height: 0.2rem;
    animation: stretch 11000ms;
    content: "";
    cursor: inherit;
}

.notification .notifbody {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0% 1.5% 0% 1.5%;
    height: 7.1rem;
    font-size: 1.2rem;
    overflow: hidden;
    cursor: inherit;
    box-sizing: border-box;
    text-align: center;
}

/* notification X button */
.x-button {
    height: 1.9rem;
    width: 1.9rem;
    position: absolute;
    top: 0;
    right: 0;
}

.x-button::before,
.x-button::after {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0.19rem;
    content: "";
    background-color: #f00;
    border-radius: 0.25rem;
    transition: transform 300ms, box-shadow 200ms;
}

.x-button::before {
    /*Left */
    right: 45%;
    transform: rotate(-45deg);
}

.x-button::after {
    /*Right */
    left: 45%;
    transform: rotate(45deg);
}

.x-button:hover::before {
    transform: rotate(-230deg);
}

.x-button:hover::after {
    transform: rotate(230deg);
}

.x-button:hover::before,
.x-button:hover::after {
    box-shadow: 0 0 0.3rem 0 var(--text-color);
}

/*    <--  Landscape -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {


    /* Mothers splash screen */
    .mother_heading,
    .mother_heading_dark {
        position: relative;
        margin-top: 3rem;
        min-height: 5rem;
        height: fit-content;
        font-size: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        margin-bottom: 2rem;
        color: var(--text-color);
        text-align: center;
        box-sizing: border-box;
        text-shadow: 0em 0em 0.1rem var(--background-color), 0em 0em 0.2rem var(--background-color), 0em 0em 0.5rem var(--background-color);
    }

    .Mothers_message,
    .Mothers_message_dark {
        position: relative;
        /*margin-top: 15vw;*/
        height: auto;
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 2rem;
        width: 100%;
        margin-bottom: 5rem;
        color: var(--text-color);
        text-align: center;
        box-sizing: border-box;
        white-space: pre-line;
        text-shadow: 0em 0em 0.1rem var(--background-color), 0em 0em 0.2rem var(--background-color), 0em 0em 0.5rem var(--background-color);
    }

    .create_your_own {
        position: fixed;
        bottom: -20rem;
        right: 1rem;
        width: 24rem;
        box-sizing: border-box;
        height: 3rem;
        font-size: 1.8rem;
        background-color: var(--background-color);
        border-color: var(--text-color);
        color: var(--text-color);
        border-radius: 1rem;
        transition: transform 2s;
        /*transform: translateY(-21rem);*/
        cursor: pointer;
    }

    #mother_put {
        position: relative;
        height: 2.2em;
        width: 90%;
        font-size: 1.4rem;
        margin-left: 5%;
        box-sizing: border-box;
        text-align: center;
        appearance: none;
        border: none;
        /*border-bottom: 0.2rem solid red;*/
        /*border-bottom: 0.2rem solid red;*/
        color: var(--text-color);
        background-color: var(--background-color);
        /*border-radius: ;*/
    }


    #settup_screen label {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        display: block;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: var(--background-color);
        text-shadow: 0em 0em 0.1rem var(--text-color), 0em 0em 0.2rem var(--text-color);
    }


    #message_put {
        position: relative;
        height: auto;
        margin-left: 5%;
        width: 90%;
        max-width: 90%;
        min-width: 90%;
        font-size: 1.1rem;
        min-height: 50vw;
        box-sizing: border-box;
        text-align: center;
        appearance: none;
        border: none;
        background-color: var(--background-t7);
        color: var(--text-color);
    }


    .backgroudn_dot,
    .backgroudn_dot_active {
        position: relative;
        width: 8rem;
        height: 8rem;
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        box-shadow: 0rem 0rem 0rem 0rem var(--text-color);
        overflow: hidden;
    }

    .backgroudn_dot_active {
        box-shadow: 0vw 0vw 3rem 1rem var(--text-color);
    }

    #mother_data_submit {
        position: fixed;
        bottom: -20rem;
        right: 1rem;
        width: 24rem;
        box-sizing: border-box;
        height: 3rem;
        font-size: 1.8rem;
        background-color: var(--background-color);
        border-color: var(--text-color);
        color: var(--text-color);
        border-radius: 1rem;
        cursor: pointer;
        transition: transform 2s;
    }


}